In [218]:
from bs4 import BeautifulSoup
import getpass
from github import Auth, Github
import pandas as pd
import requests
from sqlalchemy import create_engine, text

## API

In [208]:
# 1. Get latest version
versions = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()
latest = versions[0] # current version: 15.17.1

# 2. Champion list
url = f"https://ddragon.leagueoflegends.com/cdn/{latest}/data/en_US/champion.json"
data = requests.get(url).json()["data"]

champions = []
for champ_data in data.values():
    champions.append({
        "name": champ_data["name"],
        "attack": champ_data["info"]["attack"],
        "defense": champ_data["info"]["defense"],
        "magic": champ_data["info"]["magic"],
        "difficulty": champ_data["info"]["difficulty"],
        "tags": champ_data["tags"]
    })

stats = pd.DataFrame(champions)
stats

        name  attack  defense  magic  difficulty                  tags
0     Aatrox       8        4      3           4             [Fighter]
1       Ahri       3        4      8           5      [Mage, Assassin]
2      Akali       5        3      8           7            [Assassin]
3     Akshan       0        0      0           0  [Marksman, Assassin]
4    Alistar       6        9      5           7       [Tank, Support]
..       ...     ...      ...    ...         ...                   ...
166     Zeri       8        5      3           6            [Marksman]
167    Ziggs       2        4      9           4                [Mage]
168   Zilean       2        5      8           6       [Support, Mage]
169      Zoe       1        7      8           5                [Mage]
170     Zyra       4        3      8           7       [Mage, Support]

[171 rows x 6 columns]

## Web Scraping

### Prices

Find prices in one character:

In [127]:
url = "https://leagueoflegends.fandom.com/wiki/Nocturne/LoL"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
response = requests.get(url, headers=headers)
print(response)
soup = BeautifulSoup(response.content, "html.parser")

<Response [200]>

In [128]:
# BE price (Blue Essence)
soup.select("div.pi-item.pi-data.pi-item-spacing.pi-border-color", attrs={"data-source": "cost"})[9].select("a")[1]

# RP price (Riot Points)
soup.select("div.pi-item.pi-data.pi-item-spacing.pi-border-color", attrs={"data-source": "cost"})[9].select("a")[3]

Iterate over all characters:

In [124]:
be_prices = []
rp_prices = []
for champ in list(df['name']):
    url = f"https://leagueoflegends.fandom.com/wiki/{champ}/LoL"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    try:
        be_prices.append(soup.select("div.pi-item.pi-data.pi-item-spacing.pi-border-color", attrs={"data-source": "cost"})[9].select("a")[1].get_text()) # BE price
    except:
        be_prices.append(None)
    try:
        rp_prices.append(soup.select("div.pi-item.pi-data.pi-item-spacing.pi-border-color", attrs={"data-source": "cost"})[9].select("a")[3].get_text()) # RP price
    except:
        rp_prices.append(None)

prices = pd.DataFrame({
    "name":list(df['name']),
    "be_price":be_prices,
    "rp_price":rp_prices
})

In [125]:
prices

        name be_price rp_price
0     Aatrox     4800      880
1       Ahri     3150      790
2      Akali     3150      790
3     Akshan     4800      880
4    Alistar     1350      585
..       ...      ...      ...
166     Zeri     4800      880
167    Ziggs     4800      880
168   Zilean     1350      585
169      Zoe     4800      880
170     Zyra     3150      790

[171 rows x 3 columns]

### Character information

Find prices in one character:

In [144]:
url = "https://leagueoflegends.fandom.com/wiki/Nocturne"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
response = requests.get(url, headers=headers)
print(response)
soup = BeautifulSoup(response.content, "html.parser")

<Response [200]>

In [195]:
# Species
soup.find_all("h3", string="Species")[0].parent.select("div a")[0].get_text()

# Pronoun
for h3 in soup.find_all("h3", class_="pi-data-label"):
    if "Pronoun" in h3.get_text():
        pronoun_h3 = h3
        break
pronoun_h3.parent.select("div.pi-data-value")[0].get_text()

# Place of origin
soup.find_all("h3", string="Place of origin")[0].parent.select("div a")[0].get_text()

# Region
for h3 in soup.find_all("h3", class_="pi-data-label"):
    if "Region" in h3.get_text():
        region_h3 = h3
        break
region_h3.parent.select("div a")[1].get_text()

'Runeterra'

Iterate over all characters:

In [198]:
species = []
pronouns = []
places_of_origin = []
regions = []
for champ in list(df['name']):
    url = f"https://leagueoflegends.fandom.com/wiki/{champ}"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")

    # Species
    try:
        species.append(soup.find_all("h3", string="Species")[0].parent.select("div a")[0].get_text())
    except:
        species.append(None)
    
    # Pronoun
    try:
        for h3 in soup.find_all("h3", class_="pi-data-label"):
            if "Pronoun" in h3.get_text():
                pronoun_h3 = h3
                break
        pronouns.append(pronoun_h3.parent.select("div.pi-data-value")[0].get_text())
    except:
        pronouns.append(None)
    
    # Place of origin
    try:
        places_of_origin.append(soup.find_all("h3", string="Place of origin")[0].parent.select("div a")[0].get_text())
    except:
        places_of_origin.append(None)
    
    # Region
    try:
        for h3 in soup.find_all("h3", class_="pi-data-label"):
            if "Region" in h3.get_text():
                region_h3 = h3
                break
        regions.append(region_h3.parent.select("div a")[1].get_text())
    except:
        regions.append(None)

In [199]:
characters_info = pd.DataFrame({
    "name":list(df['name']),
    "species":species,
    "pronoun":pronouns,
    "place_of_origin":places_of_origin,
    "region":regions
})

In [200]:
characters_info

        name      species  pronoun     place_of_origin     region
0     Aatrox       Darkin   He/Him             Shurima  Runeterra
1       Ahri       Vesani  She/Her               Ionia      Ionia
2      Akali        Human  She/Her  Temple of Thanjuul      Ionia
3     Akshan        Human   He/Him             Shurima    Shurima
4    Alistar     Minotaur   He/Him   The Great Barrier  Runeterra
..       ...          ...      ...                 ...        ...
166     Zeri        Human  She/Her                Zaun       Zaun
167    Ziggs       Yordle   He/Him         Bandle City       Zaun
168   Zilean        Human   He/Him             Icathia  Runeterra
169      Zoe  Aspect Host  She/Her        Mount Targon     Targon
170     Zyra         None   She/It      Gardens of Zyr      Ixtal

[171 rows x 5 columns]

## SQL

In [203]:
password = getpass.getpass()

 ········

In [244]:
bd = "lol"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/lol)

In [245]:
def mod_table(engine, txt):
    """
    Takes a SQL query inside a string (txt) and
    runs it in the database connected through engine
    """
    with engine.connect() as connection:
        query = text(txt)
        connection.execute(query)
        connection.commit()

In [246]:
# Populate characters table
for ind, champ in characters_info.iterrows():
    txt = f'''INSERT INTO characters (name, species, pronoun, place_of_origin, region)
              VALUES ("{champ["name"]}", "{champ["species"]}", "{champ["pronoun"]}", "{champ["place_of_origin"]}", "{champ["region"]}");'''
    mod_table(engine, txt)

In [252]:
# Populate prices table
for ind, champ in prices.iterrows():
    be = "NULL" if champ["be_price"] is None else champ["be_price"]
    rp = "NULL" if champ["rp_price"] is None else champ["rp_price"]
    txt = f'''INSERT INTO prices (characters_name, be_price, rp_price)
              VALUES ("{champ["name"]}", {be}, {rp});'''
    mod_table(engine, txt)

In [255]:
# Populate stats table
for ind, champ in stats.iterrows():
    txt = f'''INSERT INTO stats (characters_name, attack, defense, magic, difficulty, tags)
              VALUES ("{champ["name"]}", "{champ["attack"]}", "{champ["defense"]}", "{champ["magic"]}", "{champ["difficulty"]}", "{champ["tags"]}");'''
    mod_table(engine, txt)